/*.toHide {
    display: none;
}*/


/* edit/video part*/

.part {
    margin-top: 50px;
    box-shadow: 1px 1px 20px #434343;
}

.container {
    width: 100%;
}


#body-part {
    min-width: 1300px;
}

.toHide{
    display: none;
}

.blur-display {
    filter: blur(10px);
}