#edit-part {
    width: 35%;
    float: right;
    margin-right: 5%;
    height: 0px;
    padding-bottom: 43.5%;
    position: relative;
}

#search-area-container {
    width: 100%;
    padding: 0;
    height: 35px;

}



.edit-child {
    width: 100%;
}

#moreFunc {
    margin-top: 2px;
}

.btn-style {
    height: 23px;
    font-size: 12px;
    padding:3px 20px;
    background-color: white;
    color: #434343;
    border: 1px solid #434343;

    transition: all ease .5s;
}
.btn-reverse {
    background-color: #fff;
    border: 1px solid #434343;
    color: #434343;
}

#btnAddAfter {
    float: left;
}

#btnInputThroughWrap {
    float: right;
}

#clickToAddDataThroughWrap {
    float: left;
}
#clickToCancel {
    float: right;

}
.btn-style:hover {
    background-color: #434343;
    color: white;
}

.btn-reverse:hover {
    background-color: #434343;
    color: white;
}
#textarea-container {
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 333;
}
#input_textarea {
    height: 200px;
    width: 100%;
    padding: 5px;
}

.samePadding {
    padding: 0 40px 0 20px;
}

#edit-part-container {
    margin-top: 20px
}

#info-container {
    padding-bottom: 10%;
    width: 100%;
    margin-top: 5px;
    padding: 0 20px 0 20px;
    position: relative;

}

#info-table {
    margin-top: 3px;
    border: 1px solid #434343;
    overflow: auto;
    background-color: white;
    width: 100%;
    padding: 0px 0px 0px 5px;
    height: 0px;
    padding-bottom: 103%;
}


#submit-btn-div button {
    border: 0px;
    position: absolute;
    display: inline-block;
    background-color: white;
}

#submit-btn-div {
    position: absolute;
    display: inline-block;
    right: 1%;
    top: 80px;
    height: 30px;
    width: 30px;

}