#edit-part {
    width: 46.66%;
    float: right;
    height: 0px;
    padding-bottom: 57%;
    position: relative;
    padding-left: 10px;
    margin: 0px;
}

#search-area-container {
    width: 100%;
    padding: 0;
    height: 35px;

}

#part-container {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 43.5%;
    border-radius: 4px;
}

.edit-child {
    width: 100%;
}

#moreFunc {
    margin-top: 2px;
}

.btn-style {
    height: 28px;
    font-size: 12px;
    padding:3px 20px;
    background-color: white;
    color: #434343;
    border: 1px solid #eaeaea;
    margin-top: 5px;
    transition: all ease .5s;
    box-shadow: 1px 1px 1px #eaeaea;
}
.btn-reverse {
    background-color: #fff;
    border: 1px solid #eaeaea;
    color: #434343;
}

#btnAddAfter {
    float: left;
}
#btnDelete {
    float: left;
    margin-left: 6px;
}

#btnGoto {
    float: left;
    margin-left: 6px;
}
#btnInputThroughWrap {
    float: right;
}
#clickToDownloadSRT {
    float: right;
    margin-left:6px;
}
#inputSRT {
    float: right;
    width: 75%;
    font-size: 12px;
}

#clickToAddDataThroughWrap {
    float: left;
}
#clickToCancel {
    float: right;

}
.btn-style:hover {
    background-color: #434343;
    color: white;
}

.btn-reverse:hover {
    background-color: #434343;
    color: white;
}
#textarea-container {
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 333;
}
#input_textarea {
    height: 200px;
    width: 100%;
    padding: 5px;
}

.samePadding {
    padding: 0 40px 0 20px;
}



#info-container {
    padding-bottom: 10%;
    width: 100%;
    margin-top: 5px;
    padding: 0 20px 0 20px;
    position: relative;

}

#info-table {
    margin-top:3px;
    overflow: auto;
    background-color: white;
    width: 100%;
    padding: 0px 0px 0px 0px;
    height: 0px;
    padding-bottom: 103%;
}


#submit-btn-div button {
    border: 0px;
    position: absolute;
    display: inline-block;
    background-color: white;
}

#submit-btn-div {
    position: absolute;
    display: inline-block;
    right: 1%;
    top: 75px;
    height: 30px;
    width: 30px;

}