#video-part {
    padding:20px;
    margin-top: 50px;

    width: 50%;
    margin-left: 5%;
    float: left;
    height: 0px;
    padding-bottom: 42%;
}
#video-btn-container {
    width: 100%;
    padding: 0px 0px;
    height: 35px;
}
.btn-load {
    width: 48%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 15px;
}
/*两个按钮*/
#clickToUploadVideo {
    float: left;
    background-color: #343434;
    color: #e6e8ea;

}
#clickToDownloadSRT {
    float: right;
    border: 1px solid #e6e8ea;
    background-color: transparent;
    color: #343434;
}

/*视频包含区域*/
#video-container {
    border: 1px solid black;
    width: 100%;
    height: 0px;
    padding-bottom: 75%;
    background-color: #343434;
    margin-top: 20px;
}






