#video-part {
    padding-right: 10px;
    padding-left: 30px;
    width: 53.34%;
    float: left;
    height: 0px;
    margin: 0px;
    padding-bottom: 58%;
}
#video-btn-container {
    width: 100%;
    padding: 0px 0px;
    height: 35px;
}
.btn-load {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 15px;
    box-shadow:  1px 1px 1px #eaeaea;
    background-color: white;
    border: 1px solid #eaeaea;
}
/*两个按钮*/
#clickToUploadVideo {
    float: left;
    background-color: #343434;
    color: #e6e8ea;

}
#btnInputSRTFile {
    float: right;
    border: 1px solid #e6e8ea;
    background-color: transparent;
    color: #343434;
}

/*视频包含区域*/
#video-container {
    border: 1px solid #eaeaea;
    width: 100%;
    height: 0px;
    padding-bottom: 90%;
    background-color: #343434;
    margin-top: 20px;
}

#clickToGetRecentSubtitle {
    margin-top: 15px;
}

#part-container {
    background-color: white;
    /* width: 100%; */
    height: 100px;
    margin-left: 12.5%;
    margin-right: 12.5%;
}




