* {
  margin: 0;
  padding : 0;
}
h1 {
  font-size: 18px;
}

nav.nav-container {
  min-height: 50px;
}
.nav-container ul img{
  display: inline;
}
.nav-container div {
  display: inline-block;
}
.nav-container ul li {
  display: inline;
}
.nav-container #img_category img {
  width: 20px;
}

div.category {     /*最左侧的索引图标*/
  display: inline-block;
    padding: 0 12px 0 12px;
}
div .header-icon {
  display: inline-block;


}


div .header-content {
  padding: 0px;
  line-height: 15px;
    padding: 0 12px 0 12px;
}
div.header-content a {
  color: black;
    vertical-align: middle;
  text-decoration: none;
}
div.header-content a:hover {
  color: black;
  text-decoration: underline;
}

nav.nav-body {
  position: relative;
    border-bottom: 1px solid #e5e5e5;
  width: 100%;

}

.issueOpen span.labelInissue {
   margin:3px 4px;
   padding:3px 7px;
   color: #ffffff;
   border-radius: 100px;
   font-size: 12px;
   vertical-align: text-bottom;

}

.issueClosed {
   background-color: #fafafa;
}

.issueOpen {

  padding: 10px 15px;
  border-bottom: 1px solid #e5e5e5;
}
.issueOpen span {
  color: rgba(0,0,0,0.55);
}
.displayClose {
  position: absolute;
  right: 10%;
}
nav.nav-body div.body-container {
  display: flex;
  text-align: center;
  justify-content: center;
}
nav.nav-body ul {
  list-style: none;
  display: flex;
  margin: 0;
}


ul.words-display{
  list-style: none;
  display: flex;
  margin: 0;
}

ul.words-display li {
  line-height: 23px;
  padding: 19px 15px 10px;
}

ul.words-display li a{
  color: rgba(0,0,0,0.55);
}

ul.words-display  li:hover{
  border-bottom: 2px solid rgba(0,0,0,0.5);
}

ul.words-display li:hover a{
  color: #000;
  text-decoration: none;
}
.words-display a span {
  padding: 3px 7px;
  background-color: rgba(0,0,0,0.07);
  border-radius: 50%;
  margin-left: 5px;
}
ul.words-display li:hover {
  border-bottom: 2px solid rgba(0,0,0,0.5);
}
nav.nav-body ul li {
  line-height: 30px;
  padding: 10px 15px;
}

ul.titleChange li:hover {
  border-bottom: 2px solid rgba(0,0,0,0.5);
}
nav.nav-body div.main-body div {
  justify-content: center;
}

/*设置字体颜色*/
nav.nav-body ul li a {
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  color: rgba(0,0,0,0.55);
  transition: all ease 0.5s;

}
nav.nav-body ul li:hover a span {
  color: #000000;
}
nav.nav-body ul li:hover a span {
}
nav.nav-body ul li:hover a{
  color: #000;
}

nav.nav-body ul.titleChange a {
  font-size: 16px;
}

nav.nav-second{
  background-color: #f5f5f5;
}


#boardPage > span {
  vertical-align: text-bottom;
}

.btn-add-list {
  border: 1px solid green;
  background-color: white;
  color: green;
}
.allinhere {
  height: 70px;
  padding: 0;
  position: relative;
  background-color: #fafafa;
}

div.row > span {
  height: 33px;
  border-radius: 4px;
  vertical-align: baseline;
    border: 1px solid #e5e5e5;
    padding: 5px 6px 7px;
    text-align: center;
}
div.row {
  height: 70px;
  margin: 0px;
padding: 18px 30px;
position: relative;
background-color: #f6f6f6;
}
div.display-issue p{
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
}

div.display-issue {
  font-size: 12px;
}
div.flex-body {
  margin-left: 5%;
  margin-right: 5%;
  background-color: transparent;
}


div.search-bar div.select-bar ul {
  display: none;
}
div.search-bar div.select-menu {
  width: 20%;
}
div.search-bar div.click-to-search input {
  height: 36px;
  width: 100%;
  padding: 0 10px;
  vertical-align: text-top;
}

/*****boards页面的css******/
/*
感觉自己多个div间没法进行共用一个class，我是面向div进行class编写，但是应该是通过class来对每个写的div进行定义
如果class不能复用的话就会导致有非常多的css要写，但是本身是没必要的。

就像js中的函数的封装一样，多封装一个可复用的函数，就可以少写好多行代码。

如果之后还能重构整个代码结构的话，还是应该考虑一下css的重复类的编写还有js的模块化。

这次项目感觉没实现的功能还有很多，所以可能还是不够优雅，直接上手就开始使用框架了。页面的逻辑什么的还需要好好理清楚才好。

*/

.chooseActive {
  border-bottom: 2px solid #1f78d1;
}
.words-display .chooseActive a{
  text-decoration: none;
  color: #000;
}
.chooseDisactive {
  border-bottom: 2px solid rgba(0,0,0,0.5);
}

.UpdownFlow {
  background-color: white;
  width: 300px;
  z-index: 100;
  position: absolute;
  right: 44px;
  top: 52px;
  border: 1px solid #e5e5e5;
}


#addListUpdown h1 {
  text-align: center;
  margin: 8px;
  padding: 7px 0;
  border-bottom: 1px solid #e5e5e5;
}
div.updownIntro {
  margin: 8px;
  border-bottom: 1px solid #e5e5e5;
}

 div.updownSearch {
  margin: 8px;

}



div.labelsTodisplay {
  margin: 8px;
  border-bottom: 1px solid #e5e5e5;
  padding: 3px 0;

}


div.choose label {
  margin-bottom: 0px;
}
input.labelsCheckout {
  display: inline-block;
  width: 20px;
  height: 20px;
}
/*设置复选框的大小和颜色*/
input.labelsCheckout {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/* + 只有紧邻的才会被选中 */
input.labelsCheckout + span {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 4px;
  transition: all ease 1s;
}
.labelsName > span {
  transition: all ease 0.5s;
}

.changeBack {
  background-color: lightgreen;

}
.changeFontweight {
  font-weight: bold;
}

.menu-bar-left {
  border-bottom: 1px solid #e5e5e5;
}
div.click-to-search > div.input-group {
  width: 100%;
  padding: 10px 10px;
  background-color:#fafafa;
  border-bottom: 1px solid #e5e5e5;

}

div.input-group input {
  border: 1px solid #e5e5e5;
}

ul.titleChange li.chooseActive a {
  font-weight: 600;
  color: black;
}


div.labelsColor {
  margin-left: 8px;
}
div.labelsName {
  vertical-align: top;
  margin-left: 8px;
}

div.labelsName > span{
  font-size: 15px;
}
div.labelsTodisplay div.labelsColor {
  width: 1.6em;
  height: 1.6em;

  display: inline-block;
  border-radius: 4px;
}

div.choose:hover{
  background-color: #C5F7FF;
}

div.choose {
  padding: 3px 0;
  height: 30px;
  margin-bottom: 5px;
}

.toDisplay {
  display: block;
}
.toHide {
  display: none;
}

div.addListMore {
  margin: 8px;
}

div.createNewLabels {
  height: 30px;
  padding: 5px;
}

div.createNewLabels:hover {
  background-color: #c5f7ff;
  cursor: pointer;
}
div.createNewLabels > span {
  vertical-align: bottom;
}

#addNewLabel  {
  width: 300px;
  border: 3px solid pink;

}
#addNewLabel h1 {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25%;
}

div.title {
  display: inline-block;
}

button.back {
  display: inline-block;
  position: absolute;
  left: 10px;
  top:9px;
}
button.closebtn {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 9px;
}
#title {
  margin: 0 8px;
  border-bottom: 1px solid pink;
}

.margin8px {
    margin: 8px;
}

#addNewLabel input {
  padding: 5px 4px;
}

#colorSection {
  width: 282px;
  letter-spacing: normal;
  word-spacing: -1px;
}
.eachColor {
  display: inline-block;
  width: 47px;
  margin: 0px;
  height: 30px;
  margin-bottom: -5px;
  /*这样就可以解决多行span之间存在空格的问题了*/

}
.btn-block2 {
  display: inline-block;
  width: 86%;
  vertical-align: middle;
}
.eachColor:hover {
  cursor: pointer;
}

#chosenColor {
  display: inline-block;
  width: 34px;
  height: 34px;
  vertical-align: middle;
  background-color: transparent;
  border: 1px dotted pink;
}

.flow-to-right {
  display: inline-block;
  position: absolute;
  right: 8px;
}
.height55px {
  height: 60px;
}

/*****设置labellist页面的多个方框****/

.inlineDisplay {

  width: 100%;
  padding: 30px 0px;
  overflow-x: scroll;
  white-space: nowrap;  /*设置滑动效果*/
  display: block;
  background-color: #fff;
}

.board {   /*整个方框的样式*/
  width: 370px;
  height: 510px;
  border: 1px solid #e5e5e5;
  position: relative;

  display: inline-block;    /*设置滑动效果*/
  margin-right: 25px;
  background-color: #fafafa;
  border-radius: 4px;
  vertical-align: -webkit-baseline-middle;
}
.board:first-child {
  margin-left: 25px;
}
.board:last-child {
  margin-right: 25px;
}
.board ul {
  list-style: none;
}
.board:last-child {
  margin: 0px;
}
div.add-btn {   /*右上角的数字以及添加按钮的div*/
  display: inline-block;
  position: absolute;
  right: 10%;
  width: 10px;
}
div.add-btn> button {   /*添加新issue的button*/
  display: inline;
}

.board-header {  /*最上方的label块显示信息*/
  border-bottom: 1px solid #e5e5e5;
  height: 50px;
  padding: 5px 10px;
}
.boardtitle {
  font-size: 15px;
  font-weight: 500;
}
.every-issue-to-drag {   /*每个可拖动的小方块*/
  box-shadow: 0px 1px 2px rgba(186,186,186,0.5);
  border: 1px solid #e5e5e5;
  margin: 10px 10px;
  height: 70px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}
#closeAddListUpdown {
  position: absolute;
  right: 0px;
  top: 13px;
  cursor: pointer;
  padding: 0px 10px;
}
/*
background-color:#F6F6F6;
border-bottom: 1px solid #DFEFF0;
*/

/*单独设置backlog和closed的样式*/
.left-board > .board-header{
  border-top: 3px solid transparent;
}
.right-board > .board-header{
  border-top: 3px solid transparent;
}

.left-board > .board-header:hover {
  cursor: pointer;
}
.right-board > .board-header:hover {
  cursor: pointer;
}


/*设置点击框框displaySmall的样式*/
.displaySmall {
  width: 40px;

}
.fa {
  font:normal normal normal 14px/1 FontAwesome
}

i {
  margin: 7px;
}
.displaySmall .board-header  span {
  display: block;
  transform: rotate(90deg) translate(7px,0);
}
.displaySmall .board-header i {
  position: absolute;
  top: 50%;
  right: 50%;
  margin: 0px;
}
.left-board.displaySmall .board-header i:before{
  content: '\f0da';
}
.right-board.displaySmall .board-header i:before{
  content: '\f0d9';
}
.fa-caret-down:before {
  content: "\f0d7";
}
/*******************/


.changeColor {
  background-color: red;
}
i.fa-plus:before {
  content: "\f067";
  padding: 1px;
  vertical-align: bottom;
}
i.fa-trash::before {
  content: "\f1f8";
}

.board-issue-count {
  margin: -5px;
  vertical-align: baseline;
}
.board-issue-count {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 22px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e5e5e5;
}
.right-board .board-issue-count {
  border-radius: 3px
}
.board-issue-count-container .btn {
    line-height: 13px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.right-board .board-issue-count {
  margin-right: 0;
}
.btn.btn-small {
    padding: 0px 0px;
    font-size: 12px;
    vertical-align: baseline;
}


ul.listboardChange li:hover {
  color: black;
}

ul.listboardChange .listToChoose {
    color: #1f78d1;
    font-weight: 600;
}


div.issue-to-drag_labels {
  margin-top: 0px;
  height: 50%;
}
.issue-to-drag_title {
  height: 50%;
}
/*为board显示的每个list中的label设置颜色*/
.issue-to-drag_labels span{
  border-radius: 10px;
  margin-right: 10px;
  padding: 2px 6px;
  line-height: 10px;
  margin-top: 4px;
  font-size: 12px;
  color: white;
}
.issue-to-drag_title span {
  font-size: 14px;
  font-weight: 500;
}

div.issue-to-drag_title span:nth-child(1){
  margin-right: 5px;
  color: rgba(0,0,0,0.8);
}
div.issue-to-drag_title span:nth-child(2){
  color: rgba(0,0,0,0.6)
}

/*changelist*/

#changeIssueData {
  height: 600px;
  width: 25%;
  z-index: 4;
  background: white;
  position: absolute;
  right: 0;
  top: 220px;
  border: 1px solid #e5e5e5;
  overflow: scroll;
}
.width100 {
  width: 100%;
}

.width75 {
  width: 75%;
}
.ChangeIssueName {
  margin: 0 14px;
  margin-top: 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 17px;
}
.ChangeIssueName p:nth-child(3){
  margin-top: -10px;
}
.changeList {
  margin: 0 14px;
}

.changeItem {
  margin: 0 14px;
  border-bottom: 1px solid #e5e5e5;

  padding: 8px 0px;
}
.changeItem {
  font-size: 15px;
}

#change_close {
  text-decoration: none;
  color: #e5e5e5;
}
.changeItem p {
  font-size: 13px;
  margin-top: 5px;
  color: grey;
}
.ddd {

    border-radius: 10px;
    margin-right: 10px;
    padding: 2px 6px;
    line-height: 14px;
    margin-top: 4px;
    color: white;
    display: inline-block;
}


.addNewIssueInTheBoard {
  border: 1px solid #e5e5e5;
  box-shadow: 0px 1px 2px rgba(186,186,186,0.5);

}
.add_clickToCreate {
  margin-top: 10px;

}
.addNewIssueInTheBoard header {
  font-size: 20px;
}
.addNewIssueInTheBoard input {
  width: 100%;
  padding: 5px;
}
.addNewIssueInTheBoard > div {
  margin: 8px;
  position: relative;
}

.newBoard {
  overflow: auto;
}


.margin10px {
  margin: 10px;
}
.float-to-left {
  position: absolute;
  left: 0px;
}
.float-to-right2 {
  position: absolute;
  right: 0px;
}
.droparea:-moz-drag-over {
  border : 1px dashed black;
}


.sortable-ghost {
  opacity: .2;
  background: #dedede;
}

.board-delete i {
  vertical-align: baseline;
  margin: 2px;
}

.board-delete {
  border: 0px;
  line-height: 17px;
  margin-right: 7px;
  padding: 2px;
  background-color: transparent;
}
